// ! CUSTOM CARD MOVIE

.css-r40f8v-MuiTypography-root {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.css-h93ljk-MuiTypography-root {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.css-1ri6ub7-MuiPaper-root-MuiCard-root {
  position: relative;
  height: 100%;
}
